*{
    margin: 5;
    padding: 5;
    box-sizing: 5;
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    grid-area: cab;
    display: flex;
    padding: 1rem;
    background-color: #ff6d8a;
    border: 3px solid rgb(214, 80, 107);
    align-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 20px 20px;
    border-style: solid;
}
nav li{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 13px 20px;
    display: inline;
    align-items:center;
    margin: 2rem;
}
nav a{
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: none;
    text-decoration: none;
}

aside{
    grid-area: sec;
    background-color: #ffffff;
}
main{
    grid-area: pri;
    background-color: rgb(255, 255, 255);
}
footer{
    grid-area: rod; 
    background-color: rgb(91, 61, 53);
}
body{
    background-color: rgba(136, 114, 100, 0.224);
    display: grid;
    grid-template-areas: 
        "cab cab cab"
        "sec pri pri"
        "rod rod rod";
        grid-template-columns: 20% auto auto;
        grid-template-rows: auto auto auto;
        width: 1400px;
        margin: 0 auto;
        padding: 2px 2px 2px 2px;
}
.logo{
    max-width: 10rem;
    max-height:10rem;
    border-radius: 20%;
}
.box_pai{
    border: 2px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    border-color: rgb(98, 223, 187);
    
    

    box-sizing: border-box;
    margin: 0px 10px 0px 10px;
    padding: 30px;
    width: 300px;
    text-align: center;
    flex-direction: column;
    transition: 3s;
}
.card img{
    height: auto;
    width: 230px;
    border: none;
    border-radius: 0%;
    box-shadow: none;
    background-color: transparent;
    background-image: linear-gradient(180deg,rgb(98, 223, 187) 50%,#62dfbb 50%);
}
.card:hover a{
    color: rgb(76, 48, 41);
    background-color: rgb(255, 110, 139);
}
.título{
    color: rgb(255, 255, 255);
    font-family: "Gochi Hand", Sans-serif;
    font-size: 120px;
    font-weight: 600;
    text-shadow: 3px 3px 0px rgb(214, 80, 107);
}
.título-do-cabeçalho{
    font-family: "Poppins", Sans-serif;
    text-align: initial;
    color: rgb(255, 109, 138);
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 0px #FFCB0C;
}
.título-do-produto{
    color: rgb(255, 109, 138);
    font-family: "Gochi Hand", Sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.descrição{
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2rem;
    color: rgb(75, 47, 40);
}
.preço{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(75, 47, 40);
    background-color: rgb(255, 203, 12);
    border-style: solid;
    border-width: 0px 3px 3px 0px;
    border-radius: 100px 100px 100px 100px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 100px;
    transition: 0.5s;
}
.título2{
    color: rgb(98, 223, 187);
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5em;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
.sub-título{
    color:rgb(255, 109, 138);
    font-family: "Gochi Hand", Sans-serif;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px #62DFBB;

    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
