*{
    margin: 5;
    padding: 5;
    box-sizing: 5;
}
.main-index{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #ffe7ef;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.main-contact{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
header{
    grid-area: cab;
    display: flex;
    background-color: rgb(255, 109, 138);
    align-items: center;
    border-radius: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: rgb(214, 80, 107);
}
.logotipo{
    max-width:11rem;
    max-height: 11rem;
}
.menu-item-object-custom{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 13px 20px;
    display: inline;
    align-items:center;
    margin: 2rem;
}
.elementor-nav-menu .elementor-item{
    color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: none;
    text-decoration: none;
    padding: 13px 20px;
    line-height: 100px;
}
.elementor-nav-menu a:hover{
    color: rgb(75, 47, 40);
    border-color: #cc3366;
    border-style: solid;
    border-width: 0 0 3px 0;
}
.elementor-social-icon ul{
    display: flex;
    justify-content: center;
}
.elementor-social-icon a:active{
    transform: translateY(-8px);
}
.elementor-social-icon ul a{
    display: block;
    padding: 10px;
}
.elementor-social-icon li{
    color: transparent;
}
.elementor-social-icon ul li a img{
    max-width: 40px;
}
aside{
    grid-area: sec;
    background-color: #ffcb0c;
}
main{
    grid-area: pri;
    background-color: rgb(255, 245, 203);
}
footer{
    grid-area: rod; 
    background-color: rgb(91, 61, 53);
    
}
.elementor-widget-image{
    max-width: 25rem;
    max-height: 25rem;
}

body{
    display: grid;
    background-color: #fff;
    font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
    grid-template-areas: 
        "cab cab cab"
        "sec pri pri"
        "rod rod rod";
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto auto auto;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.box_pai{
    border: 2px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    border-color: rgb(98, 223, 187);
    margin: 20px 20px 20px 20px;
    width: 300px;
    height: 500px;
    text-align: center;
    flex-direction: column;
    transition: 3s;
}
.card img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 10px 10px 0px 0px;
    box-shadow: none;
    background-color: transparent;
    background-image: linear-gradient(180deg, rgb(98, 223, 187) 50%, rgb(98, 223, 187) 50%);
    vertical-align: middle;
}
.elementor-title{
    color: rgb(255, 255, 255);
    font-family: "Gochi Hand", Sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px rgb(214, 80, 107);
    text-align: center;
    line-height: 1;
}
.elementor-heading-title{
    color: rgb(255, 109, 138);
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgb(255, 203, 12);    
    text-align: center;
    line-height: 1;
}
.elementor-image-box-title{
    color: rgb(255, 109, 138);
    font-family: "Gochi Hand", Sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.elementor-image-box-description{
    color: rgb(75, 47, 40);
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
    padding-bottom: 8px;
}
.elementor-button-price{
    color: rgb(75, 47, 40);
    background-color: rgb(255, 203, 12);
    border-style: solid;
    border-width: 0px 3px 3px 0px;
    border-radius: 100px;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 550;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.3s;
}
.elementor-button-price:hover{
    color: rgb(75, 47, 40);
    background-color:  rgb(255, 109, 138);
}

.elementor-heading-title2{
    color: rgb(98, 223, 187);
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
}
.elementor-title2{
    color: rgb(255, 109, 138);
    font-family: "Gochi Hand", Sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px rgb(98, 223, 187);
    text-align: left;
    padding-left: 10px;
}
.elementor-heading-title-footer{
    color: #ffcb0c;
    font-family: "Gochi Hand", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px #D6506B;
}
.elementor-nav-menu-footer .menu-item-footer{
    color:#fff;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    justify-content: center;
    padding: 13px 20px;
}
.elementor-heading-title-contact{
    color: rgb(75, 47, 40);
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
}
.elementor-button-contact{
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 150px;    
    color: #4b2f28;
    background-color: #ffcb0c;
    border-style: solid;
    border-width: 0px 3px 3px 0px;
    border-color: #4b2f28;
    border-radius: 100px;
}
button {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;      
    background: #ffcb0c;
    color: #4b2f28;
    padding: 10px 150px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 100px;
}
.description{
    color: #4b2f28;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5em;
}
.elementor-field{
    padding: 5px 14px;
}
.elementor-field-textual{
    line-height: 1.4;
    font-size: 15px;
    min-height: 40px;
    padding: 5px 14px;
    border-radius: 3px;
}
.elementor-field-textual, .elementor-field{
    background-color: hwb(0 96% 4%);
    border-color: rgb(98, 223, 187);
    border-width: 0px 2px 2px 0px;
    border-radius: 10px;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.elementor-label{
    color: rgb(75, 47, 40);
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.elementor-upload-field{
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.DonutsTradicional{
    background-color: rgb(255, 245, 203);
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: calc(100vh -8px);
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.items{
    align-self: flex-end;
}
.select-image{
    max-width: 500px;
}
.select-image img{
    width: 100%;
}
.right-side{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.right-side h6{
    color: #4b2f28;
}
.right-side h1{
    color: rgb(255, 109, 138);
    font-family: "Gochi Hand", Sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 3px 3px 0px rgb(98, 223, 187);
}
.right-side p{
    color: #4b2f28;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.price{
    color: #4b2f28;
    font-size: 16px;
    font-weight: 700;
}
.amount{
    display: flex;
    align-items: center;
    gap: 30px;
}
.amount span{
    font-weight: 700;
    font-size: 12px;
}
.minus, .plus{
    cursor: pointer;
}